.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.noUi-connect {
  background: #007bff !important;
}


